* {
  box-sizing: border-box;
}

/* HEADER */
body {
  font-family: "Open sans", sans-serif;
  background: #0c0311;
  height: 2060px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav__container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background: #101116;
  height: 100px;
  width: 100%;
    z-index: 2;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.title {
  display: flex;
  width: 267px;
  justify-content: space-between;
  align-items: center;
}

.title img {
  width: 98px;
  height: 98px;
}

.title h1 {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  font-style: italic;
  color: white;
}

.title span {
  color: #cd06ff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 408px;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logAndReserve {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 50px;
}

.logAndReserve img:last-of-type {
  margin-bottom: 20px;
}

/* main */
main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 1140px;
  height: 1960px;
  margin: 0 auto;
}

.places-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 1000px;
  gap: 90px;
}

.seat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 110px;
  gap: 15px;
  position: relative;
}

.seat p {
  color: white;
  font-size: 32px;
}


main a {
  display: flex;
  margin: 0 auto;
  bottom: 150px;
  width: 414px;
  height: 84px;
}

.button {
  margin: 0 auto;
  width: 414px;
  height: 84px;
}

.acc {
  position: absolute;
  right: 0px;
  top: 90px;
  display: flex;
  background: #101116;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Open sans", sans-serif;
  font-size: 24px;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 180px;
  color: white;
  border-radius: 0px 0px 0px 60px;
  z-index: 10;
}

.hidden {
  display: none;
}

/* Работа с местами */

.seat-info {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../img/adminInfoBack.svg);
  background-repeat: no-repeat;
  width: 424px;
  height: 690px;
  top: 180px;
  z-index: 5;
}

.entires {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  justify-content: space-between;
  align-items: left;
  margin-left: 30px;
  width: 360px;
  height: 560px;
}

.seat-info img {
  background-image: url(../../img/bookingBtn.svg);
  background-repeat: no-repeat;
  width: 305px;
  height: 62px;
}

.seat-info p {
  font-family: "Open sans", sans-serif;
  color: white;
  font-size: 36px;
}

.back {
  position: absolute;
  align-self: center;
  margin: auto;
  display: none;
  width: 100%;
  height: 4792px;
  z-index: 2;
  background: rgba(1, 0, 2, 0.8);
}

/* Форма брони */
.form-container {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 820px;
  height: 820px;
  background: #1a0026;
  color: white;
  font-size: 32px;
  font-family: "Open sans", sans-serif;
  border-radius: 68px;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  height: 720px;
}

.top {
  display: flex;
  align-items: flex-end;
  gap: 60px;
}

.stroke {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* .stroke:last-child {
  width: 100%;
  height: 75px;
  border-radius: 40px;
  border: none;
  padding: 10px;
} */



.top .stroke {
  height: 154px;
  justify-content: space-between;
  padding: 0;
}



.dateBeg {
  width: 240px;
  height: 52px;
  padding: 10px;
  border-radius: 35px;
  background: #d9d9d9;
}

select {
  width: 250px;
  background: #d9d9d9;
  border-radius: 35px;
}

.right select {
  width: 220px;
}

.timeBeg {
  width: 240px;
}

.btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.btns img {
  width: 330px;
  height: 85px;
}

.resBtn {
  background-image: url(../../img/resFormBtn.svg);
  width: 330px;
  height: 85px;
}

.error {
  display: none;
  color: white;
  background: rgba(97, 0, 0, 0.349);
  border: 3px solid darkred;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.error p {
  width: auto;
  margin: 0 auto;
}

/* Footer */

footer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background: #101116;
  height: 120px;
  width: 100%;
}

.footer {
  width: 90%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 510px;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin: 40px auto 0;
}

.middle ul {
  width: 510px;
  margin-bottom: 35px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.changeResBtn {
  background-image: url(../../img/changeReserveButton.svg);
  background-repeat: no-repeat;
  background-size: 100%;
    margin: 0 auto;

  width: 415px;
  height: 85px;
}

.changeResBtn:hover {
  background-image: url(../../img/changeReserveBtnHover.svg);
}

.seatIcon {
  width: 111px;
  height: 111px;
  margin: auto auto;
}

.appars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.appar {
  width: 160px;
  height: 50px;
  padding: 10px;
}

.addplace{
  height: 600px;
}

.changeplace {
  height: 600px;
}

.changeplace form {
  height: 500px;
}

.addPlaceBtn {
  background-image: url(../../img/addPlaceBtn.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;

  width: 400px;
  height: 115px;
}

.addPlaceBtn:hover {
    background-image: url(../../img/addPlaceBtnHover.svg);
}

.changePlaceBtn {
  background-image: url(../../img/buttons/finish/finishBtn.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  margin: 0 auto;

  width: 330px;
  height: 115px;
}

.changePlaceBtn:hover {
    background-image: url(../../img/buttons/finish/finishBtnHover.svg);
}

.delPlaceBtn {
  background-image: url(../../img/buttons/del/delBtn.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  margin: 0 auto;

  width: 300px;
  height: 115px;
}

.delPlaceBtn:hover {
  background-image: url(../../img/buttons/del/delBtnHover.svg);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addplace form {
  height: 500px;
}

@media screen and (max-width: 1440px) {
  body {
    max-width: 1439px;
  }

  main {
    margin: 108px auto;
    width: 90%;
    max-width: 934px;
  }

  .places-map {
    width: 100%;
    height: 946px;
    gap: 75px;
  }

  .seat {
    font-size: 32px;
    width: 93px;
    height: 143px;
  }

  /* .seat p {
  color: white;
  font-size: 32px;
} */

  .seat-info p {
    font-size: 30px;
    font-weight: 100;
    font-weight: lighter;
  }
}

@media screen and (max-width: 1023px) {
  body {
    max-width: 1023px;
  }

  main {
    justify-content: space-between;
    margin: 108px auto;
    width: 90%;
    max-width: 625px;
  }

  .places-map {
    width: 100%;
    height: 570px;
    gap: 50px;
  }

  .seat {
    font-size: 20px;
    width: 62px;
    height: 116px;
  }

  /* .seat p {
  color: white;
  font-size: 32px;
} */

  .theSeat {
    width: 62px;
    height: 62px;
  }
}
